.bold-text {
  font-weight: bold;
  font-family: 'Georgia', serif;
  font-size: 1.5em;
  color: rgb(11,12,12);
  background-color: #353839;
  padding: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  max-width: 500px;
  margin: 15px auto;
  border-radius: 6px;
  transition: all 0.3s ease;
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.bold-text:hover{
  transform: translateY(-10px);
  box-shadow: 0 12px 18px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #16201A;
  color: #EDEDED;
}

body {
  background-color: #121212;
  color: #FFFFF0;
  font-family: 'Ariel', sans-serif;
  padding: 50px;
}


.navbar {
  display: flex;
  justify-content: center;   /*center horizontally*/
  align-items: center;
  margin: 50px 0;
  
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 40px;          
}

.navbar .nav-links a {
  text-decoration: none;
  color: #EDEDED;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background color 0.3s, transform 0.25s;
}

.navbar .nav-links a:hover {
  background-color: #1E1E1E;
  transform: translateY(-2px); 
}

.intro-text{
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  z-index: 1;   /* sits behind content*/
  overflow: hidden;  
}

.intro-text video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
  transform: scale(1.1);
}

.intro-text .overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  
}
