.bold-text {
  font-weight: bold;
  font-family: 'Georgia', serif;
  font-size: 1.5em;
  color: #708238;
  background-color: #F0EAD6;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  transition: all 0.3s ease;
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.bold-text:hover{
  transform: translateY(-10px);
  box-shadow: 0 12px 18px rgba(0,0,0,0.2);
  background-color: #E6E1D1;
  color: #3B3B3B;
}

body {
  background-color: #BCC2C2;
  color: #3B3B3B;
  font-family: 'Ariel', sans-serif;
  padding: 50px;
}
  
