.bold-text {
  font-weight: bold;
  font-family: 'Georgia', serif;
  font-size: 1.5em;
  color: #2F4F4F;
  background-color: #FFE2C7;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  transition: all 0.3s ease;
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.bold-text:hover{
  transform: translateY(-10px);
  box-shadow: 0 12px 18px rgba(0,0,0,0.2);
  border-radius: 12px;
  background-color: #CFE7CF;
  color: #317873;
}

body {
  background-color: #D9F0F3;
  color: #3B3B3B;
  font-family: 'Ariel', sans-serif;
  padding: 50px;
}

.intro-text{
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  z-index: -1;   /* sits behind content*/
  overflow: hidden;  
}

.intro-text video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
  transform: scale(1.1);
}

.intro-text .overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  
}
